[submodule "tmux/tmux-colors-solarized"]
	path = tmux/tmux-colors-solarized
	url = git://github.com/seebi/tmux-colors-solarized.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
