# Suspend the system when battery level drops to 5% or lower
SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", ATTR{capacity}=="[0-5]", RUN+="/home/devon/.local/bin/runx notify-send --expire-time=-1 'Your battery is running low!'"
